<div id ="about">
	<p id="heading">gradeLess</p>

	<div id="subhead">
		<p id="tag"><i>An Effortless Grading Solution</i></p>
	</div>
	<p id="in-content">	
		This project is a part of the course <b>ESC101 : Fundamentals 
		of Computing</b> at
		<b>Indian Institute of Technology , Kanpur</b>.
		<br>
		gradeLess is an intelligent tool designed to evaluate 
		hand-written 
		answer copies using 
		Machine Learning for Character Recognition effortlessly to save
		the precious time of instructors and tutors grading answers manually.<br>
		Currently, we support questions with binary answers (True / False) and  Single/Multiple Choice Questions .<br>
		The Frontend is designed using CSS and JS (for the beauty part) and 
		Angular 8 for most of the actual work ,that is evaluation of answer copies.<br>
		The Backend is developed using Express.js and it is middleware between our Frontend and Python program
		which uses OpenCV for image processing and employs Tesseract Engine which uses
		Machine Learning Algorithms for correctly evaluating the answers.
	</p>
</div>

<div id="actualwork">

	<div id = "coord_display"  
		(dragstart) = "cord($event)" draggable = "false">
	</div>

	<div id="pdfdisplay" (click) = "showcoord($event)" >

		<img src="{{imgArray[imgindex]}}" id ="show_image" alt="No image found. Contact Admin." width="840f" height = "990">

	</div>
	<div id = "uploadpdf">
		<div class="row">

			<div class = "row">
				<div class="pull-left">
				<input (change)="onFileSelected2($event)" type="file" class="custom-file-input" id="file">
				</div>
				<button type ="button" id="uploadbtn" class = "btn btn-info" (click)="onUpload()">Upload PDF</button> 
			</div>
			<br>
			<div class = "row">
				<button type ="button" class = "btn btn-info" (click) = "prev()"> Previous</button>
				&nbsp;&nbsp;
				<button type ="button" id="next" class = "btn btn-info" (click) = "next()">Next</button>
			</div>

		</div>
	</div>
	  
	<div id = "split-right">
		<div class ="row">
			<h3>Selected Coordinate - &nbsp; ({{x}} &nbsp;, &nbsp;{{y}})</h3>
			<h3></h3>
		</div>
		
		<div class="form" id="form">
			<form [formGroup] = "myForm" class="form-group" novalidate>

				<div class="row">
					<div class="col-xs-3" id="left">
						<h3>TopLeftX:</h3> <input formControlName="xref11" id = "xref11" class="form-control" /> 
					</div>
					<div class="col-xs-3" id="right">
						<h3>TopLeftY:</h3> <input formControlName="yref11" id = "yref11" class="form-control " />
					</div>
					<div class = "row" id="ref">
					<button type = "button" (click) =  "setRef1()" class="btn btn-primary btn-sm"> Set Reference 1 </button> <br>
					</div>
				</div>
				<br>
				<div class="row">
						<div class="col-xs-3" id="left">
							<h3>BotRightX:</h3> <input formControlName="xref21" id = "xref21" class="form-control" /> 
						</div>
						<div class="col-xs-3" id="right">
							<h3>BotRightY:</h3> <input formControlName="yref21" id = "yref21" class="form-control " />
						</div>
						<div class = "row" id="ref">
						<button type = "button" (click) =  "setRef2()" class="btn btn-primary btn-sm"> Set Reference 2 </button> <br>
						</div>
					</div>
					<br>
				<div class = "row">
					<div class="col-xs-3">
						<h3>Roll:</h3> <input formControlName="uid" id = "uid" class="form-control " />
					</div>
					<div class="col-xs-3" id="right">
						<h3>Key:</h3> <input formControlName="ans" id = "ans" class="form-control " />
					</div>
				</div>
				<br><br>
				<div class = "row">
					<div class="box">	<h3>Type:</h3>
						<select formControlName = "qtype" novalidate>
							<option *ngFor = "let choice of types" [value] = "choice">
								{{choice}}
							</option>
						</select>
					</div>
				</div>

				<div class = "row" id="sendfinish">
					<div class="col-xs-3">
						<div class="text-center">
							<button type = "submit" class="btn btn-primary btn-lg" (click) = "OnSend()"> Send </button> 
						</div>
					</div>
					<div class="col-xs-3" id="finish">
						<button type="button" class="btn btn-info btn-lg" (click) = "Finish()"> Finish</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div id = "results">	

			<div id="eval" style="display: none;">
				<div class="row">

					<div class="col-xs-2">
						<input (change)="onFileSelectedMultiple($event)" type="file" class="btn btn-outline-secondary form-control-file" id="file2" multiple>
					</div>
				</div>
				<div class ="row">
					<div class="col-xs-3">
						<button type ="button" class = "btn btn-info" (click)="OnUploadMultiple()">Upload Multiple PDF</button> 
					</div>
				</div>
				<div class="row">
					<div class = "col-xs-3">
						<button type="button" class="btn btn-info" (click) = "Align()"> Align</button>
					</div>

				</div>
				<div class="row">
					<div class = "col-xs-3">
						<button type="button" class="btn btn-info" (click) = "Evaluate()"> Evaluate</button>
					</div>

				</div>
				<div class="row">
					<div class = "col-xs-3">
						<button type="button" class="btn btn-info" (click) = "ShowResult()"> Show - Result </button>
					</div>

				</div>
			</div>

			<div id="score" style="display: none;">

			<div class="row">
				Score : {{score}} out of {{qno}}
			</div>
			<ul>
				<li *ngFor ="let studentres of newresults">
			 		<div class = "row" id = "list" >
			 			<ul>
			 				<li *ngFor="let qkeyeval of studentres; let i = index; let l = count"> {{qkeyeval }} </li>
			 			</ul>
			 		</div>
 				</li>
 			</ul>
		</div>
	</div>
</div>

<div id="devs">

		<div id="headdev">
			<p id="devteam">Developers</p>
			<p id="mentors">Mentors</p>
		</div>

		<div id="dev1">
			<img id="pic" src="../assets/sarthak.jpg">
			<p id="name">Sarthak Rout</p>
			<p>Bachelor of Technology<br>
			Dept. of Computer Science and Engineering
			<br>IIT Kanpur</p>

			<a href= "http://home.iitk.ac.in/~sarthakr">
				<img id="weblogo" src="../assets/weblogo.svg">
			</a>
			<a href= "fblink">
				<img id="fb" src="../assets/fb.svg">
			</a>
			<a href="mailto:sarthakr@iitk.ac.in">
				<img id="mail" src="../assets/maillogo.svg">
			</a>
		</div>

		<div id="dev2">
			<img id="pic" src="../assets/naman.jpg">
			<p id="name">Naman Gupta</p>
			<p>Bachelor of Technology<br>
			Dept. of Computer Science and Engineering
			<br>IIT Kanpur</p>
			<a href= "http://home.iitk.ac.in/~namangup">
				<img id="weblogo" src="../assets/weblogo.svg">
			</a>
			<a href= "fblink">
				<img id="fb" src="../assets/fb.svg">
			</a>
			<a href="mailto:namangup@iitk.ac.in">
				<img id="mail" src="../assets/maillogo.svg">
			</a>
		</div>

		<div id="prof">
			<img id="pic" src="../assets/piyush.jpg">
			<p id="name">Dr. Piyush Rai</p>
			<p>Assistant Professor<br>Dept. of Computer Science and Engineering
			<br>IIT Kanpur</p>
			<a href= "link">
				<img id="weblogo" src="../assets/weblogo.svg">
			</a>
			<a href="mailto">
				<img id="mail" src="../assets/maillogo.svg">
			</a>
		</div>
	
		<div id="mentor">
			<img id="pic" src="../assets/shailesh.jpg">
			<p id="name">Shailesh Nandkule</p>
			<p>Masters in Technology<br>Dept. of Computer Science and Engineering
			<br>IIT Kanpur</p>
			<a href= "link">
				<img id="weblogo" src="../assets/weblogo.svg">
			</a>
			<a href="mailto">
				<img id="mail" src="../assets/maillogo.svg">
			</a>
		</div>
</div>	