
#div1{
	position:absolute;
	left:10px;
	color: blue;
	font-size: 30px;
	background-image: linear-gradient(to right, rgba(173,255,47,1), rgba(0,0,0,0));
	width:45%;
	border: 15px solid transparent;
	border-image: url(border.png) 20 stretch ;
	transition: transform .2s;
	padding:5px;
	float: left;
}
#div1:hover{
	transform: scale(1.03);
}
#div2{
	position:absolute;
	right:10px;
	color: orange;
	font-size: 30px;
	background-image: linear-gradient(to left, rgba(173,255,47,1), rgba(0,0,0,0));
	width:45%;
	
	border:15px solid transparent;
	border-image: url(border.png) 20 stretch ;
	transition: transform .2s;
	padding:5px;
}
#div2:hover{
	transform: scale(1.03);
}
.vertical{
	border-right: 3px solid grey;
	height: 200px;
	position:absolute;
	left: 50%;
}
#div3{
	position:absolute;
	right:10px;
	top:20px;
	font: arial;
	width:98%;
	
}
#div4{
	text-align:center;
	font-size:20px;
	font:Times New Roman;
	color:#ff9966;
}
#div5{
	font-size:20px;
	font:Times New Roman;
	position:absolute;
	top:300px;

}
.bg{
	
	background-color: #F0FFF0;
	height:100%;
	padding:10px;
	border-right: 2px solid black;
}
#div6{
	font:arial;
	font-size:20px;
	color:#ff0066;
}
#div7{
	position:absolute;
	top:0;
	left:0;

}
#div8{
	position:absolute;
	top:0;
}
#div9{
	position:fixed;
	height:100%;
	background-color: #F0FFF0;
	top:0;
	right:0;
	left:1120px;
	border-left: 2px solid black;
	padding:5px;
}
#split-left{
  position: fixed;
  height:100%;
  z-index: 1;
  top: 0;
  width: 16%;
  left: 0;
}
#split-right{
	position:absolute;
  height:100%;
  z-index: 1;
  top: 0;
  width: 84%;
  right: 0;
}
